body{
    width: 100%;
    margin: 0;
    font-family: arial;
    font-size: 15px !important; 
    color: #333333;
    line-height: 20px;
    border-top: 4px solid #143345;
    background: url(../images/bg1.jpg) repeat-y !important;
}
input[type=text]{
}
input[type=text],
input[type=email],
input[type=password],
select,
textarea{
    border: 1px solid #cccccc;
    padding: 2px;

}
textarea{

}
.clear{
    clear: both;
}
#wrapp{
    margin: 0 auto;
}
#header{
    
}
.slogan {
    color: #111;
    font: 500% 'tangerine';
    padding-right: 25px;
    text-align: left;
}
#menu{
    height: 24px;
    padding: 10px 0;
    background: url(../images/bg_nav.jpg) repeat-x scroll left top;
}

#search{
    background: url(../images/bg_box.jpg) repeat-x scroll center top #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 6px 6px 6px 6px;
    min-height: 40px;
    padding: 15px 15px 5px;
    margin: 20px 0;
}
#search input[type=text],
#search select{ 
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    padding: 2px 6px;
    margin-bottom: 10px;
}
#search form {
    margin: 0;
}
#search select{
}
#search input[type="submit"] {
    height: 36px;
    width: 100px;
}
#content{
    margin: 20px 0;
}
#main-content .home{
    background: url(../images/bg_box.jpg) repeat-x scroll center top #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 6px 6px 6px 6px;
    min-height: 40px;
    padding: 15px;
    margin: 0;
}
#sidebar{
    margin: 0;
}
.sidebar-box{
    background: url(../images/bg_box.jpg) repeat-x scroll center top #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 6px 6px 6px 6px;
    min-height: 40px;
    padding: 15px;
    margin: 0 0 15px 0;    
}
.sidebar-box ul li{
    display: block;
}
.sidebar-box ul{
    margin: 0;
}
.sidebar-box h3.title_sidebar {
    margin: 0;
}
.review .large-8 ul.large-block-grid-6 li {
    padding: 0;
}
#footer{
    border-top: 6px solid #143345;
    padding-top: 10px;
    margin-bottom: 20px;
}
.login .input{
    margin-bottom: 10px;
}
.login .btn{
    margin: 30px 0 0 80px;
}
.register .date ,
.review .date {
    float: left;
    width: 100%;
}
.register .date select,
.review .date select{
    width: 33%;
}
.message{
    color: #ff0000;
}
.thumb{
    float: left;
    height: 160px;
    margin-right: 20px;
}
.thongtin .info h4{
    font-size: 18px;
    margin: 0 0 15px 0;
}
.thongtin .info .lienhe{
    margin: 0 0 5px 0;
}
.list-title a{
    text-decoration: none;
    color: #1C8F02;
}
.list-title a:hover{
    color: #ff0000;
    text-decoration: underline;
}
.error{
    color: #ff0000;
    font-weight: bold;
}
.read_more {
    text-align: right;
}
.clear {
    clear: both;
}
p.required_img {
    background: url("../images/icon_required15x15.gif") no-repeat scroll 0 5px rgba(0, 0, 0, 0);
    padding-left: 15px;
}
div.large-4.required_img {
    background: url("../images/icon_required15x15.gif") no-repeat scroll 0 0px rgba(0, 0, 0, 0);
}
.review input[type="checkbox"], 
.review input[type="radio"],
.review .textarea {
    margin-left: 10px !important;
}
.review ul li input[type="radio"] {
    margin-left: 0 !important;
}
.review_page ul li {
    font-size: 13px;
    display: block;
}
.review_page ul {
    margin: 0;
}
.review_page p {
    margin-bottom: 0;
}
.review .checkbox label {
    display: inline;
}
.review .checkbox #ReviewConfirm {
    margin-bottom: 0;
}
.no-padding {
    padding: 0 !important;
}
.right_login {
    padding-top: 20px;
    text-align: right;
}
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.overall_review{
    background: url(../images/bg_box.jpg) repeat-x scroll center top #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 6px 6px 6px 6px;
    min-height: 40px;
    padding: 15px;
    margin: 0 0 15px 0;    
}
.home h2.title_cate {
    color: #f7901e;
    font-size: 24px;
    font-weight: bold;
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    margin: 0 20px 30px 20px;
}
.home .t-button-cate {
    margin: 30px auto;
    background-color: #f7901e;
    border: 1px solid #f7901e;
    border-radius: 0.2em;
    color: #fff;
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-size: 2em;
    line-height: 1em;
    padding: 0.6em 0.8em;
    width: 35%;
    text-align: center;
}
.home .t-button-cate a {
    color: #FFFFFF;
}
.home .top_cate {
    margin-bottom: 20px;
}
.home .top_cate .columns{
    font-size: 16px;
    line-height: 30px;
}
.cate_view {
    background: url(../images/bg_box.jpg) repeat-x scroll center top #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 6px 6px 6px 6px;
    padding: 15px;
    margin: 0;
}
.cate_view .sub_cate {
    font-size: 15px;
}
.cate_view h5.title_cate a{
    color: #000000;
    text-decoration: underline;
}
.cate_view h5.title_cate a:hover{
    color: #008cba;
}
.bg_admin {
    background: url("../images/bg_box.jpg") repeat-x scroll center top #ffffff;
    border: 1px solid #cccccc;
    border-radius: 6px;
    margin: 20px 0;
    min-height: 40px;
    padding: 15px 15px 5px;
}
ul.show_title_post {
    margin-left: 0;
}
ul.show_title_post li {
    background: url("../images/sprites.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);
    display: block;
    padding-left: 25px;
}